//$backgroundColor : #9e6d48;
$backgroundColor : #e8e7e6;
$majorGrey : #464a4c;
$majorBtn : #39a3d9;
$secondBtn : #74787a;
$footerColor : #2a262c;
$cardWidth :  244px;
$cardHeight: 340px ;
.menu-overlay.hide {
  visibility: hidden;
  .menu-overlay-container {

    .menuBox {
      position: absolute;
      left: -240px;
      visibility: hidden;
    }
  }
}
#iconMenu {
  cursor: pointer;
}
.menu-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;

  .menu-overlay-container {
    display: flex;
    flex-direction: row;
    .menuBox {
      position: absolute;
      left: 0;
      width: 240px;
      transition: all 0.2s ease-in;
      background-color: #fcfeff;
      height: 100vh;
      .header {
        padding: .5rem 1rem;
        #iconMenu {
          cursor: pointer;
        }
        #logo {
          cursor: pointer;
        }
      }
    }
    .overlay {
      height: 100vh;
      width: 100%;
    }
  }
  //transform: translate3d(100%, 0px, 0px);
}
.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .item {
    display: flex;
    width:100%;
    height:40px;
    align-items: center;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .icon {
      margin-right:22px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    a {
      display: flex;
      align-items: center;
      padding-left: 15px;
      color: #453d4c;
    }
  }
  .item:hover {
    background-color: #f3f3f3;
    cursor: pointer;

  }
}
.decks {
  .menu-items {
    .item {
      padding-left: 5px;
    }
    .item:hover {
      background-color: #9e9694;
    }
  }
}
body {
  background-color: $backgroundColor;
}
.btn-major {
  background-color: $majorBtn!important;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header.navbar
{
  z-index:3;position: fixed; width: 100%;
  display: flex;
  justify-content: center;
}

header {
  background-color: $majorGrey;
  border-bottom: 2px black solid;
  box-shadow: -1px 1px 2px black;
  height:45px;
  .title:hover {
    color: rgba(252, 254, 255, 0.76);
  }

  .header-board-buttons {
    display: flex;
    flex-basis: 37%;
    #logo {
      cursor: pointer;
    }
  }
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 26%;
  }

  .header-user {
    display: flex;
    justify-content:flex-end;
    flex-basis: 37%;

  }
}
#svg3713 {
  animation: rotate 1.4s linear infinite;
  -webkit-animation: rotate 2.5s linear infinite
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.btn-login {
  border: 2px black solid;
  background-color: $secondBtn;
  margin-bottom: 5px;
}
.btn-login:hover {
  cursor: pointer;
}
.setByYear {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.page .container {
  margin-top: 40px;
}
.page.container {
  flex-grow: 1;
}
.page {
  flex-grow: 1;
  margin-top: 55px;
}
footer {
  z-index: 3;
  background-color: $footerColor;
  margin-top: 0;
  border-top: 2px black solid;
  box-shadow: -1px 1px 2px black;

  .footer-copyright {
    display: flex;
    justify-content: center;
    align-content: center;
    p {color: antiquewhite; margin:0}
  }

}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  hr {
    width: 40%;
    border-top: 5px solid rgb(170, 224, 250);
    margin-bottom: 30px;
  }
  form{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-content: center;
    label{
      width: 100%;
    }
    input{
      height:50px;
      font-size: 1.3rem;
    }

  }
}

.header-title .title {
  color: #ccd0d2;
  font: 34px  bold;
  text-shadow: 3px 2px 15px black;

  text-decoration: none;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;;
}

.titleContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}
.set {
  min-height:850px;

  .select-filterMyCards {
    border: 2px black solid;
    color: black;
    background-color: $majorGrey;
    height:100%!important
  }
  .filter-order {
    display: flex;
    justify-content: space-between;
  }
  .sorter {
    width: 100px;
  }
  .reverser {
    width: 100px;
  }
  .active {height:45px}
  .ReactTable {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
    .plus {cursor: pointer}
    .minus {cursor: pointer}
  }
}

.LimitVisibleCard {  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cardsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px black solid;
  background-color: $majorGrey;
  padding: 5px;
  .small {
    width: calc( 0.5 * #{$cardWidth} );
    height: calc( 0.5 * #{$cardHeight} );
    .image-preload {
      border : 5px black solid;
      width:100%;
      height:100%
    }
    .copiesNumber span{
      font: small-caps bold 22px sans-serif;
    }
  }  .medium {
    width: calc( 1 * #{$cardWidth} );
    height: calc( 1 * #{$cardHeight} );
    .image-preload {
      border : 5px black solid;
      width:100%;
      height:100%
    }
    .copiesNumber span{
      font: small-caps bold 26px sans-serif;
    }
  }
  .large {
    width: calc( 1.5 * #{$cardWidth} );
    height: calc( 1.5 * #{$cardHeight} );
    .image-preload {
      border : 5px black solid;
      width:100%;
      height:100%
    }
    .copiesNumber span{
      font: small-caps bold 39px sans-serif;
    }
  }

  .cardBox.owned{
    background-color: #9e6d48;
    border-radius: 20%;

  }
  .cardBox {
    position: relative;
    margin: 9px;
    background-color: #9e4848d6;
    border-radius: 14%;
    img {
      opacity: 1;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      transition: .5s ease;
      backface-visibility: hidden;

      .placeholder {
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    }

    .bottom .minus, .bottom .plus {
      cursor:pointer;
      display: flex;
    }
    .bottom .minus:hover, .bottom .plus:hover {
    }
    .cardActions {
      transition: .5s ease;
    }
    .owned {
      border-radius: 20%;
    }
  }
  .cardActions {
    .front {
      position: absolute;
      display: flex;
      top: 0;
      flex-direction: column;
      width: 100%;
      height: 107%;
      .copiesNumber {
        color: #e0c6d0;
      }
    }
    .back {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: flex;
      top: 0;
      flex-direction: column;
      width: 100%;
      height: 107%;

      .copiesNumber {
        color: #ec971f;
      }
    }
    .top {
      flex-basis : 18%;
      display: flex;
      justify-content: flex-end;
    }
    .middle {
      flex-basis : 64%;
      text-align: center;
    }

    .bottom {
      justify-content: center;
      display: inline-flex;
      flex-basis : 18%;
      user-select: none;
      -moz-user-select: none;
    }
    .copiesNumber {
      display: inline-flex;
      align-items: center;
      text-align: center;
    }
    .copiesNumber span{
      text-shadow: 1px 1px 0 #000000;
      z-index: 2;
    }
  }
}

.setsBox {
  font-size: 28px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  border: 2px black solid;
  background-color: $majorGrey;
  span {
    display: flex;
    width: 100%;
    border: 2px black solid;
    color: #ccd0d2;
    margin: 5px;
    background-color: #353a3c;
    a {
      color: #ccd0d2;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 2px;
      justify-content: space-between;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
      border: 3px black solid;
      color: #ec971f;
      transition: .5s ease;
    }
  }
  .spinner {
    all: unset;
  }

}

.cardBox:hover img {
  opacity: 0.8;
}
.cardBox:hover .cardActions .front {
  opacity: 0;
}

.cardBox:hover .cardActions .back {
  opacity: 1;
  visibility: visible;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.filtersGroup {
  display: flex;
  width: 100%;
  height:45px;
}
.fixed {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.filtersGroup {
  .colors {}
  .search{
    flex-grow: 2;
    min-width: 122px
  }
  .own {
    flex-grow: 1;
  }
}
.searchCardBarBox {
  .flagsBox {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    z-index: 2;
    min-width: 30px;
    border: 2px solid #4b404021;
    border-radius: 4%;
    background-color: #c5c5c5a6;
    .flagsItems {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      svg {
        margin: 1px;
      }
    }
  }
  .searchCardBar {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  input {
    padding-left: 40px;
  }
}

.btn-filterColor {
  border: 2px black solid;
  background-color: $majorGrey;
}

.btn-group {
  button {
    height: 100%!important;
  }
}
.btn-cardsSize {
  border: 2px black solid;
  background-color: #c7c7c7;
  cursor: pointer;
}
.btn-filterColor:hover,.btn-filterColor.active:hover  {
  background-color: #453d4c;
transform: scale(1.1);
  cursor: pointer;
}

.btn-filterColor.active {
  background-color: #645a6b;
}

.loadMore {
  cursor:pointer;
  width: 100%;
  border: 2px black solid;
  background-color: #464a4c;
}
.btn:hover {
  cursor:pointer;
}
.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    display: flex;
    width: 100%;
    align-items: center;
  }
  h4::before,
  h4::after {
    content: "";
    border: solid gray;
    border-width: .05em 0;
    height: .1em;
    margin: .2em;
    flex: 1;
  }
}

  .decks {
    .cards {
      .card img, button {
        display: none
      }
      .card:hover button {
        display: block;

      }
      .card span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
      .card span:hover img {
          position: fixed;
          display: block;
          height: 360px;
          right: calc(60% - 256px);
          top:calc(50% - 180px);
          z-index: 3;

      }
      .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:2px;
        border: 1px #383636 solid;
        font-weight: 500;
      }
    }
  }
  .hand img{
    transition: all .2s ease-in;
  }
  .hand:hover{
    z-index: 999!important;
  img{
    transform: scale(1.1);

    }
  }
  /*.spinner {
    display: flex;
    width: 100%;
    justify-content: center;
  }*/

  #heart {
    fill: red;
  }

  #wishList:hover {
    cursor: pointer;
  }
  .container{
    flex-basis: 100%;
  }
  @media (min-width: 768px) {
    .container {flex-basis: 80%};
    .cards-from-deck div {
      padding: 10px;
    }
  }
  @media (max-width: 768px) {
    .container {flex-basis: 100%};
    .cardsContent .cardBox {
      position: relative;
      width: 180px;
      height: auto;
      margin: 0; };
    .filtersGroup {
      height: 38px;
    }
    .set .filter-order {
      justify-content: center;
    }
    .filtersGroup .own {
      flex-grow: 0;
    }
    .btn-filterColor svg{
      width: 15px;
    }
    .btn-filterColor {
      padding: 0.5em ;
    }
  }

  @media (max-width: 480px) {
    .container {
      padding:0;
      margin:0;
      flex-basis: 100%;
      .setsBox {
        font-size: 28px;
        padding: 0;
        .setByYear {
          a{justify-content: flex-start;}
        }
      }
    }
    .cardsContent .cardBox {
      position: relative;
      width: 152px;
      height: auto;
      margin: 0; }
  }
  .scrollbar:hover {
    overflow-y: scroll;
  }
  .scrollbar
  {
    overflow-y: scroll;
    float: left;
    width: 65px;
    height: 60vh;
    top:25%;
  }

  .force-overflow
  {
    min-height: 450px;
  }
  #style-15::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  #style-15::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  #style-15::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6,#54DE5D))
  }

  /*
   *  STYLE 16
   */

  .style-16::-webkit-scrollbar-track
  {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
    background-color: inherit;
    border-radius: 10px;
  }

  .style-16::-webkit-scrollbar
  {
    width: 4px;
    background-color: #e8e7e6;
  }

  .style-16::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #828d97;
  }
  .menu-deck {
    .header {
      display: flex;
      justify-content: center;
    }
    input[type=text] {
      width: 10px;
      box-sizing: border-box;
      border: 0;
      font-size: 16px;
      color:#cccccc;
      background-color: #464a4c;
      background-size: 20px 20px;
      background-image: url('/images/add_deck.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 9px 15px 8px 27px;
      outline: none!important;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
      width: 95%;
      border-bottom: 2px solid #cccccc;
      background-position: 95% 10px;
    }
  }
.cards-from-deck {
  position: fixed;
  width: 35%;
  .dropdown-menu {
    padding-top: 0;
    position: absolute;
    will-change: transform;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $backgroundColor;
    transform: translate3d(0px, 36px, 0px)!important;
  }
  .deck-header {
    display: flex;
    align-items: center;
    button {
      border: inherit;
      background-color: inherit;
    }
  }
}
.newDeck {
  display: flex;
  justify-content: flex-start;

  input[type=text] {
    width: 10px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    color: #f98731;
    background-color: $backgroundColor;
    background-size: 20px 20px;
    background-image: url('/images/add_deck.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 9px 15px 8px 27px;
    outline: none!important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 95%;
    border-bottom: 2px solid #cccccc;
    background-position: 95% 10px;
  }
}
.menu-sets {
  .header {
    display: flex;
    justify-content: center;
  }
  input[type=text] {
    width: 10px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    color:#cccccc;
    background-color: #464a4c;
    background-size: 20px 20px;
    background-image: url('/images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 9px 15px 8px 27px;
    outline: none!important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
    border-bottom: 2px solid #cccccc;
    background-position: 95% 10px;
  }
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



