body {
    background-color: #9e6d48;
}
.navbar {
    background-color: #464a4c;
    border-bottom: 2px black solid;
    box-shadow: -1px 1px 2px black;
}
.navbar .title {
    color: #eceeefb8;
    font: 34px  bold;
    text-shadow: 3px 2px 15px black;
}
.navbar .title:hover {
    color: rgba(252, 254, 255, 0.76);
}
.titleContainer {
    margin-bottom: 20px;
    margin-top: 20px;
}
.set .select-filterMyCards {
    border: 2px black solid;
    color: black;
    background-color: #464a4c;
    height:100%!important
}
.cardsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px black solid;
    background-color: #464a4c;
    padding: 5px;
}

.setsBox {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    border: 2px black solid;
    background-color: #464a4c;
}
.setsBox span a{
    color: #eceeefb8;
    width:100%;
    display: flex;
    justify-content: center;
    text-decoration: none;

}
.setsBox span {
    width: 100%;
    border: 2px black solid;
    color: #eceeefb8;
    margin: 5px;
    background-color: #353a3c;

}
.setsBox span :hover {
    width:100%;
    border: 3px black solid;
    color: #ec971f;
    transition: .5s ease;

}
 .set .active {height:45px}
.cardBox {
    position: relative;
    width: 250px;
}

.cardBox .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding:2px;
    margin: 2px;
}
.cardBox .bottom .minus,.cardBox .bottom .plus {
    cursor:pointer;
    animation: spin1 2s infinite linear

}

.cardBox .bottom .minus:hover,.cardBox .bottom .plus:hover {
}
.placeholder {
    width: 250px;
    height: 300px;
    background-size: contain;
}
.cardBox .owned {
    border: 2px solid #ec971f;
    border-radius: 20%;
}
.cardBox .cardActions {
    transition: .5s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: 107%;
}
.bottom {
    justify-content: center;
    display: inline-flex;
    flex-grow: 2;

}
.top {
    flex-grow: 7;
}
.copiesNumber {
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #ec971f;

}
.middle {
    flex-grow: 5;
    text-align: center;
}


.aaa{
    opacity: 1;
    position: absolute;
    top: 90%;
    color: #e0c6d0;
    width: 100%;
    text-align: center;
}
.cardBox:hover .image {
    opacity: 0.3;
}

.cardBox:hover .cardActions {
    opacity: 1;
    visibility: visible;

}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.filtersGroup {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
 .fixed{
    position:fixed;
     top: 0;
     width: 92%;
     z-index: 2;
}
 .filtersGroup .colors{

 }
.filtersGroup .search{
    flex-grow: 2;
 }
.filtersGroup .own {
    flex-grow: 1;

 }
.searchCardBar {
    width: 100%;
}
.btn-filterColor {
    border: 2px black solid;
    background-color: #464a4c;
}
.btn-filterColor:hover,.btn-filterColor.active:hover  {
    background-color: #453d4c;
    cursor: pointer;
}
.btn-filterColor.active {
    background-color: #645a6b;

}
